FONT		{FONT-FAMILY:  Tahoma, Arial; FONT-SIZE: 12px}
TD		{FONT-FAMILY:  Tahoma, Arial; FONT-SIZE: 12px}
BODY		{
	FONT-FAMILY:  Tahoma, Arial; 
	FONT-SIZE: 12px; 
	word-wrap: break-word; 
	background-color: #3C4D56; 
	margin: 0 0 0 0;
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#3C4D56', EndColorStr='#6C7A82');
	border-top: 1px solid #cee4e7;
}
P, td, tr, tbody, table		{FONT-FAMILY:  Tahoma, Arial; FONT-SIZE: 12px; color: #666666;}
DIV		{FONT-FAMILY:  Tahoma, Arial; FONT-SIZE: 12px}
INPUT		{FONT-FAMILY:  Tahoma, Arial; FONT-SIZE: 12px}
TEXTAREA	{FONT-FAMILY:  Tahoma, Arial; FONT-SIZE: 12px}
FORM 		{FONT-FAMILY:  Tahoma, Arial; FONT-SIZE: 12px}
A:link          {BACKGROUND: none; COLOR: #666666; FONT-SIZE: 12px; FONT-FAMILY:  Tahoma, Arial; TEXT-DECORATION: underline}
A:active        {BACKGROUND: none; COLOR: #666666; FONT-SIZE: 12px; FONT-FAMILY:  Tahoma, Arial; TEXT-DECORATION: underline}
A:visited       {BACKGROUND: none; COLOR: #666666; FONT-SIZE: 12px; FONT-FAMILY:  Tahoma, Arial; TEXT-DECORATION: underline}
A:hover         {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 12px; FONT-FAMILY:  Tahoma, Arial; TEXT-DECORATION: none}
.title 		{BACKGROUND: none; COLOR: #666666; FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY:  Tahoma, Arial; TEXT-DECORATION: none}
.content 	{BACKGROUND: none; COLOR: #666666; FONT-SIZE: 12px; FONT-FAMILY:  Tahoma, Arial}
.storytitle 	{BACKGROUND: none; COLOR: #363636; FONT-SIZE: 14px; FONT-WEIGHT: bold; FONT-FAMILY:  Tahoma, Arial; TEXT-DECORATION: none}
.storycat	{BACKGROUND: none; COLOR: #666666; FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY:  Tahoma, Arial; TEXT-DECORATION: underline}
.boxtitle 	{BACKGROUND: none; COLOR: #363636; FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY:  Tahoma, Arial; TEXT-DECORATION: none}
.boxcontent 	{BACKGROUND: none; COLOR: #666666; FONT-SIZE: 12px; FONT-FAMILY:  Tahoma, Arial}
.option 	{BACKGROUND: none; COLOR: #666666; FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY:  Tahoma, Arial; TEXT-DECORATION: none}
.tiny		{BACKGROUND: none; COLOR: #666666; FONT-SIZE: 12px; FONT-WEIGHT: normal; FONT-FAMILY:  Tahoma, Arial; TEXT-DECORATION: none}
.footmsg        {BACKGROUND: none; COLOR: #666666; FONT-SIZE: 12px; FONT-WEIGHT: normal; FONT-FAMILY:  Tahoma, Arial; TEXT-DECORATION: none}
.footmsg_l	{BACKGROUND: none; COLOR: #666666; FONT-SIZE: 12px; FONT-WEIGHT: normal; FONT-FAMILY:  Tahoma, Arial; TEXT-DECORATION: underline}
.box		{FONT-FAMILY:  Tahoma, Arial; FONT-SIZE: 12px; border: 1px solid #666666; background-color: #FFFFFF}
.search {
	FONT-FAMILY:  Tahoma, Arial; 
	FONT-SIZE: 12px;
	border: 0px solid #FFFFFF;
	background-color: #FFFFFF;
}
.linkmenu {
	font-size: 12px;
	color: #FFFFFF;
}
a.linkmenu:link, a.linkmenu:visited, a.linkmenu:active {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}
a.linkmenu:hover {
	font-size: 12px;
	color: #B2F400;
	text-decoration: underline;
}
.title_block {
	font-size: 12px;
	color: #15A700;
	font-weight: bold;
	padding-bottom: 6px;
	padding-left: 5px;
}
.footer {
	color: #FFFFFF;
	font-size: 12px;
	padding-bottom: 15px;
}
a.footer:link, a.footer:active, a.footer:visited {
	color: #FFFFFF;
	font-size: 12px;
	text-decoration: underline;
}
a.footer:hover {
	color: #BAFF00;
	font-size: 12px;
	text-decoration: none;
}
.titlecontent {
	font-size: 20px;
	font-weight: bold;
	color: #1A9E00;
	font-family: Tahoma, "Times New Roman", Times, serif;
}
.postcom {
	font-size: 12px;
}